.wrapper {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 18px;
  color: #1B6DD3;
  height: 20px;
}

.icon {
  height: 24px;
  margin-right: 5px;
}